/* page */

body {}

#total {
    padding: 0;
    font-family: "Lucida Console", Monaco, monospace !important;
}

/* #FF004C */

/* The sidebar menu */

.sidebar {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 160px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    /* background-image: linear-gradient(to right, #ff0844 0%, #110c2a 100%); */
    background: #FF004C;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #110c2a;
    display: block;
}

/* When you mouse over the navigation links, change their color */

.sidebar a:hover {
    color: #f1f1f1;
}

.list-group-item {
    background-color: transparent !important;
    border: transparent;
}

/* Style page content */

.main {
    /* margin-left: 160px; */
    /* Same as the width of the sidebar */
    /* padding: 0px 10px; */
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

/* Home */

#home {
    /* background: springgreen; */
    /* background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../images/homebackdark-min.jpg) center no-repeat; */
    background-size: cover, cover;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
}

#title {
    text-align: right;
    position: absolute;
    right: 10%;
    bottom: 40%;
    color: snow;
    border-right: 1px solid snow;
    padding-right: 30px;
    animation-name: title;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    z-index: 2;
    width: 25%;
}

@keyframes title {
    from {
        transform: translate(0, 8px);
    }
    to {
        transform: translate(0, -8px);
    }
}

#square1 {
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0);
    border: rgba(28, 25, 46, 0.45) 2px solid;
    position: absolute;
    right: 10%;
    bottom: 40%;
    animation-name: square1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    z-index: 1;
}

@keyframes square1 {
    from {
        transform: rotate(0) scale(1.5);
    }
    to {
        transform: rotate(360deg) scale(.2);
    }
}

#square2 {
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0);
    border: rgba(28, 25, 46, 0.45) 2px solid;
    position: absolute;
    right: 20%;
    bottom: 70%;
    animation-name: square2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    z-index: 1;
}

@keyframes square2 {
    from {
        transform: translate(10px, 0) rotate(0) scale(1.5);
    }
    to {
        transform: translate(-10px, 0) rotate(-360deg) scale(.2);
    }
}

#square3 {
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0);
    border: rgba(28, 25, 46, 0.45) 2px solid;
    position: absolute;
    left: 10%;
    bottom: 40%;
    animation-name: square3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    z-index: 1;
}

@keyframes square3 {
    from {
        transform: translate(10px, 10px) rotate(0) scale(1.5);
    }
    to {
        transform: translate(-10px, -10px) rotate(-360deg) scale(.2);
    }
}

#circle1 {
    color: #6d6048;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background: rgba(0, 0, 0, 0);
    border: rgba(28, 25, 46, 0.45) 2px solid;
    border-radius: 50px;
    position: absolute;
    right: 60%;
    top: 15%;
    animation-name: circle1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    z-index: 1;
}

@keyframes circle1 {
    from {
        transform: translate(80px, 30px);
    }
    to {
        transform: translate(-20px, 0) scale(1.5);
    }
}

/* rgb(12, 5, 19) */

#circle2 {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background: rgba(0, 0, 0, 0);
    border: rgba(28, 25, 46, 0.45) 2px solid;
    border-radius: 50px;
    position: absolute;
    right: 30%;
    bottom: 20%;
    animation-name: circle2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    z-index: 1;
}

@keyframes circle2 {
    from {
        transform: translate(30px, 100px);
    }
    to {
        transform: translate(0px, -20px) scale(1.5);
    }
}

/* foot */

#foot {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 20px;
}

#links {
    font-size: 25px;
    /* width: 70%; */
    display: flex;
    background: rgba(20, 18, 32, 0.527);
    justify-content: space-around;
    padding: 10px 50px;
}

#links a {
    color: rgb(12, 109, 184);
}

#links a:hover{
    color: #dd980f;
}

#foot p{
    color: #dd980f;
    font-size: 20px;
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    #title{
        width: 80%;
        bottom: 35%;
    }
    #foot p{
        font-size: small;
        padding: 5px;
    }
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    #title{
        width: 50%;
    }
    #foot p{
        font-size: small;
        padding: 5px;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }